PyPDF2
langchain
python-dotenv
streamlit
pandas 
numpy
matplotlib
notebook
pinecone-client
fastapi
pydantic
uvicorn
google-generativeai
datasets
transformers
sentence-transformers
pdfplumber
spacy
plotly
bs4
selenium